<div class="container">
    <h2><%= @recipe.name  %></h2>
    <p>Description: <%= @recipe.description %></p>
    <p>Cooking time: <%= @recipe.cooking_time %></p>
    <p>Preparation time: <%= @recipe.prep_time %></p>
    <p>Difficulty: <%= @recipe.difficulty %></p>
    <p>Number of servings: <%= @recipe.serving %></p>
    <p>Date of creation: <%= @recipe.created_at.strftime("%A, %b %d") %></p>
    <p>Instructions: <% @recipe.instructions.each do |instruction| %>
        <%= instruction.instruction_text %>
    <% end %></p>
    <p>Ingredients: <% @recipe.ingredients.each do |ingredient| %>
        <%= ingredient.amount%>
        <%= ingredient.measurement_lookup.measurement_type %>
        <%= ingredient.ingredient_list.name %>
    <% end %></p>
    <% @recipe.tags.each do |tag| %>
        <p>Tag: <%= tag.name %></p>
        <p>Category:<%= tag.recipe_category.name %></p>
    <% end %>
    <% if @recipe.user == current_user %>
        <%= link_to "edit your recipe", edit_recipe_path(@recipe) %>
        <%= link_to 'Delete', @recipe, method: :delete, data: { confirm: 'Are you sure you want to delete this recipe?' }, class: "ml-3 btn btn-outline-danger btn-md my-2" %>
    <% end %>
</div>